
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
  
  }
.main{
    width: 792px ;
    margin: 42px auto;
  
}
.group-header{
    
    padding: 30px;
    background-color: #f2f2f2;
    padding: 30px;
}
.cov-header-line{
    height: 12px;
    width: 100%;
    background: #00b14f;
}
.img-wrap{
    display: inline-block;
    
}
.group-header-des{
    float: right;
    margin-top: 50px;
    margin-left: 20px;

}
.header-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 10px;
    display: inline-block;
    border: 10px solid #b7e9cd;
    background-size: cover;
}


.name{
    font-size: 38px;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    color: #00b14f;
    margin-bottom: 10px;
    font-family: roboto,Arial,sans-serif;
    font-family: 'Roboto', sans-serif;
}
.student{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    color: #333;
    
}
.group-top{
    padding: 15px 25px;
    background-color: #fbfbfb;
    
}
.profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.profile .contatc-item{
    padding: 8px 0px;
    width: 33.32%;
    height: 85px;
}
.profile .contatc-item .contact-item-label{
    font-size: 14px;
    margin-bottom: 4px;
    color: #00b14f;
    font-weight: 700;
}
.profile .contatc-item .profile-des{
    font-size: 14px;

}
.description{
    background-color: #ffffff;
    display: flex;
}
.description .group-left{
    width: 35%;
    padding: 20px 0 20px 20px;
}

.description .des-block{
    margin-bottom: 20px;
    padding: 10px;
}
.des-block .des-block-title{
    font-size: 16px;
    font-weight: 600;
    color: #00b14f;
    font-family: 'roboto' ,Arial,sans-serif;
    margin-bottom: 5px;
}
.des-block .des-block-obj{
    font-size: 15px;
    line-height: 1.4em;
    margin-top: 10px;
}
.description .des-block-header{
    margin-bottom: 10px;
}
.des-block .skill-title{
    font-size: 16px;
    color: #000;
    margin-top: 10px;

}
.des-block .skill-rate{
    margin-top: 5px;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 12px;
    text-align: left;
    padding: 0;
}
.des-block .skill-rate-cell{
    height: 12px;
    width: 12px;
  
    border-radius: 50%;
    margin-right: 8px;
    display: block;
    float: left;
}
.not-rate{
    background-color:#eee;
}

.rate{
    background-color: #00b14f;
}
.des-block .des-block-body-interest{
    display: flex;
}
.des-block .des-block-body-interest .interest-item{
    background-color: #f5f5f5;
    padding: 3px 8px;
    border-radius: 4px;
    color: #333;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;

}
.description  .group-right{
    width: 65%;
    font-size: 16px;
    margin: 20px 20px 20px 0px;
 }
 .description .education-block{
     padding: 10px;
     margin-bottom: 20px;
 }
.group-right .line{
    height: 2px;
    width: 75px;
    background-color: #00b14f;
    margin-top: 12px;
    margin-bottom: 12px; 
    /* position: absolute;
}
.description .underline{
    /* height: 2px;
    width: 75px;
    background-color: #00b14f;
    margin-top: 12px;
    margin-bottom: 12px; */
    /* position: absolute; */
}
.description .education-block-title{
    font-size: 16px;
    color: #00b14f;
    font-weight: 900;
  
}
.description .icon-education{
    width: 20px;
    height: 20px;
    background-color: #00b14f;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    margin-right: 8px;
}

.description .education-title{
    font-weight: 600;
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}
.description .education-time{
    display: inline-block;
    float: right;
    text-align: right;
    color: #9c9c9c;
    font-size: 14px;
}
.description .icon-arow-r{
    font-size: 14px;
    color: #9c9c9c;
    margin: 0 5px;
}
.description .education-title-des{
    font-size: 14px;
    margin-top: 10px;
    color: #00b14f;
}
.description .education-content{
    font-size: 14px;
    margin-top: 5px;
}
